body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #2d3c49;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #7d97ad;
}

.main-title {
    display: block;
    color: #7d97ad;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.login-area {
    font-size: 13px;
    color: #7d97ad;
    position: absolute;
    top: 10px;
    right: 10px;
}

.home-link {
  color: #7d97ad;
  text-decoration: none;
}



.new-post-link {
  color: #7d97ad;
  text-decoration: none;
}

.profile-link{
  color: #7d97ad;
  text-decoration: none;
}

.login-link {
    color: #7d97ad;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}

.page-divider {
  border-style: solid;
  height: 1px;
  background-color: #666;
  color: #666;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

.signupsheet {
  padding-top: 3%;
}

.loginsheet {
  color: #7d97ad;
}

.signup-submit {
  margin-left: 42.5%;
  margin-top: 3%;
  margin-bottom: 2%;
}

.login-submit {
  margin-left: 42.5%;
  margin-top: 3%;
  margin-bottom: 2%;
}

label {
  display: block;
  font-size: 20px;
  text-align: left;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 18px;
}



.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    color: #7d97ad;
}

.post-content {
    margin-top: 5px;
    color: #7d97ad;
}

.post-date {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #7d97ad;
}

.post-options {
  margin-top: 5%;
  font-size: 18px;
}

.LikeButton {
  position: absolute;
  right: 250px;
  bottom: 0px;
  color: #7d97ad;
  text-decoration: none;
  font-size: 26px;
}

.DislikeButton {
  position: absolute;
  right: 200px;
  bottom: 0px;
  color: #7d97ad;
  text-decoration: none;
  font-size: 26px;
}

.DeleteButton {
    position: absolute;
    right: 150px;
    bottom: 0px;
    color: #7d97ad;
    text-decoration: none;
    font-size: 18px;
    color: red;
    padding-bottom: 0.5%;
}

.confirmdeleteform {
  margin-top: 5%;
  margin-left: 22%;
}

.confirmdeletebutton {
  margin-top: 5%;
  margin-left: 25%;
}

.post-link {
  position: absolute;
  right: 300px;
  bottom: 0px;
  text-decoration: none;
  font-size: 14px;
  color: #7d97ad;
  text-decoration: none;
}
