/* universal */

body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #2d3c49;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #7d97ad;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 18px;
}

label {
  display: block;
  font-size: 20px;
  text-align: left;
}

label + label {
    margin-top: 20px;
}

.post + .post {
    margin-top: 15px;
}

.comment-divider {
  border-style: solid;
  height: 1px;
  background-color: #666;
  color: #666;
}

.page-divider {
  border-style: solid;
  height: 1px;
  background-color: #666;
  color: #666;
}

.error-message {
 padding-left: 15%;
}

/* end universal */

/* post.html */

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    color: #7d97ad;
}

.post-date {
    position: absolute;
    right: 10px;
    bottom: 2px;
    color: #7d97ad;
}

.post-content {
    margin-bottom: 100px;
    color: #7d97ad;
    font-size: 20px;
}

.post-links {
    font-size: 14px;
}

.comment-link {
  position: absolute;
  color: #7d97ad;
  text-decoration: none;
  bottom: 2%;
  right: 85%;
}

.LikeButton {
  position: absolute;
  color: #7d97ad;
  text-decoration: none;
  bottom: 2.2px;
  right: 70%;
}

.goto-post-link {
  position: absolute;
  color: #7d97ad;
  text-decoration: none;
  bottom: 2px;
  right: 55%;
}

.EditPostButton {
  position: absolute;
  color: #7d97ad;
  text-decoration: none;
  bottom: 1.9%;
  right: 40%;
}

.DeleteButton {
    position: absolute;
    color: #7d97ad;
    text-decoration: none;
    bottom: 2.2px;
    right: 22%;
}

/* end post.html */

/* comment.html */

.comment-area {
  margin-top: 5%;
  margin-right: 5%;
}

.comment-post-box {
  border-radius: 25px;
  border: 2px solid #666;
  padding: 10px;
  width: 100%;
  max-height: 100%;
}

.comment-post-author {
  position: absolute;
  right: 15%;
}
.comment-post-subject {
  padding-left: 5%;
}

.comment-post-content {
  padding-left: 5%;
}

.comment-author {
  padding-left: 5%;
}

.comment-goto-comment {
  position: absolute;
  text-decoration: none;
  color: #7d97ad;
  right: 125px;
}

.comment-count {
  padding-left: 5%;
}

.comment-content {
  font-style: italic;
  margin-left: 5%;
  margin-right: 5%;
}

.comment-display {
  margin-top: 2%;
  margin-left: 10%;
  border-radius: 25px;
  border: 2px solid #7d97ad;
  padding: 10px;
  width: 80%;
  max-height: 100%;
}

.confirmlikebutton {
  margin-left: 10%;
}

.comment-box {
  margin-left: 18%;
  margin-top: 5%;
}

.comment-box-box {
  height: 150px;
}

.comment-confirmed-delete {
  color: #7d97ad;
  text-decoration: none;
  padding-left: 39%;
}

.comment-submit {
  margin-left: 18%;
}

/* end comment.html */

/* newpost.html */

.newpost-form {
  margin-top: 4%;
  margin-left: 13%;
  border-radius: 25px;
  border: 3px solid #666;
  padding: 10px;
  width: 70%;
}

.newpost-newpost-title {
  margin-left: 5%;
  padding-top: 2%;
}

.newpost-subject {
  max-width: 30%;
}

.newpost-newpost-head {
  padding-top: 1%;
  margin-left: 5%;
}

.newpost-content {
  max-height: 200px;
  margin-left: 5%;
}

.newpost-submit {
  margin-left: 40%;
  margin-bottom: 2%;
  margin-top: 1%;
}

/* end newpost.html */

/* editpost.html */

.editpost-original-edit {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}

.editpost-original-subject {
  text-align: center;
  font-weight: bold;
}

.editpost-original-post {
  margin-top: 4%;
  border-radius: 25px;
  border: 3px solid #7d97ad;
  padding: 10px;
  width: 70%;
  margin-left: 12%;
}

.editpost-original-content {
  text-align: center;
  font-style: italic;
  padding-bottom: 2%;
}

.editpost-box {
  width: 60%;
  max-height: 250px;
  margin-left: 18.5%;
  margin-top: 5%;
}

.editpost-submit {
  margin-left: 40%;
  margin-top: 0.3%;
}

.editpost-cancel {
  height: 26.2px;
  font-weight: bold;
}

/* end editpost.html */

/* myposts.html */

.myposts-rendered {
  margin-top: 2%;
  border-radius: 25px;
  border: 3px solid #7d97ad;
  padding: 10px;
  width: 80%;
  margin-left: 8%;
}

/* end myposts.html */

/* base.html */

.main-title {
    display: block;
    color: #7d97ad;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.login-area {
    font-size: 13px;
    color: #7d97ad;
    position: absolute;
    top: 10px;
    right: 10px;
}

.home-link {
  color: #7d97ad;
  text-decoration: none;
}

.profile-link{
  color: #7d97ad;
  text-decoration: none;
}

.new-post-link {
  color: #7d97ad;
  text-decoration: none;
}

.login-link {
    color: #7d97ad;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}

/* end base.html */

/* login-form.html */

.loginsheet {
  color: #7d97ad;
  margin-left: 30%;
}

.login-username {
  max-width: 32.5%;
}

.error {
    color: red;
}

.login-submit {
  margin-left: 22.5%;
  margin-top: 3%;
  margin-bottom: 2%;
}

/* end login-form.html */

/* signup-form.html */

.signup-title {
  margin-left: 37.5%;
}

.signupsheet {
  padding-top: 1%;
  margin-left: 22%;
}

.signup-username {
  max-width: 40%;
  margin-left: 3%;
}

.signup-email {
  max-width: 40%;
  margin-left: 3%;
}

.signup-password {
  margin-left: 3%;
}

.signup-submit {
  margin-left: 22.5%;
  margin-top: 3%;
  margin-bottom: 2%;
}

/* end signup-form.html */

/* welcome.html */

.user-posts {
  color: #7d97ad;
  text-decoration: underline;
  font-size: 26px;
}

.continue-link {
  color: #7d97ad;
  text-decoration: underline;
  font-size: 26px;
  margin-left: 25px;
}

/* end welcome.html */

/* deletepost.html */

.confirmdeleteform {
 margin-top: 5%;
 margin-left: 22%;
}

.confirmdeletebutton {
  margin-top: 5%;
  margin-left: 25%;
}

/* end deletepost.html */

/* error.html */

.error-to-home {
  padding-left: 40%;
  text-decoration: underline;
}

/* end error.html */

/*
.postToEdit {
  font-style: italic;
}
*/


/*
.post-options {
  margin-top: 5%;
  font-size: 18px;
}
*/

/*
.comment-user-options {
  color: #7d97ad;
  text-decoration: none;
}
*/

/*
.post-link {
  position: absolute;
  right: 550px;
  bottom: 0px;
  text-decoration: none;
  font-size: 14px;
  color: #7d97ad;
  text-decoration: none;
}
*/

.viewcomment-original-comment {
  font-style: italic;
  padding-left: 35%;
  margin-top: 4%;
  border-radius: 25px;
  border: 3px solid #7d97ad;
  padding: 10px;
  width: 30%;
  margin-left: 25%;
  padding-left: 22%;
}


.viewcomment-homelink {
  text-decoration: none;
  color: #7d97ad;
  position: absolute;
  left: 10px;
  right: 300px;
}

.viewcomment-confirmed-delete {
  text-decoration: none;
  color: #7d97ad;
  position: absolute;
  right: 20px;

}

.viewcomment-editcomment {
  text-decoration: none;
  color: #7d97ad;
  position: absolute;
  right: 200px;

}
