body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #2d3c49;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #7d97ad;
}


.confirmlikeform {
  margin-left: 37%;
}

.confirmlikebutton {
  margin-left: 10%;
}

.comment-box {
  margin-left: 5%;
  margin-top: 5%;
}

.comment-link {
  color: #7d97ad;
  text-decoration: none;
  position: absolute;
  bottom: 2%;
  right: 91%;
}

.comment-area {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.comment-divider {
  border-style: solid;
  height: 1px;
  background-color: #666;
  color: #666;
}

.confirmdeleteform {
  margin-top: 5%;
  margin-left: 22%;
}

.DeleteButton {
    position: absolute;
    right: 15%;
    bottom: 0px;
    color: #7d97ad;
    text-decoration: none;
    font-size: 18px;
    color: #7d97ad
    padding-bottom: 0.5%;
}

.EditPostButton {
  position: absolute;
  right: 20%;
  bottom: 2%;
  color: #7d97ad;
  text-decoration: none;
}

.goto-post-link {
  position: absolute;
  right: 60%;
  bottom: 0;
  color: #7d97ad;
  text-decoration: none;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.home-link {
  color: #7d97ad;
  text-decoration: none;
}

label {
  display: block;
  font-size: 20px;
  text-align: left;
}

label + label {
    margin-top: 20px;
}

.LikeButton {
  position: absolute;
  right: 80%;
  bottom: 0px;
  color: #7d97ad;
  text-decoration: none;
  font-size: 22px;
}

.login-area {
    font-size: 13px;
    color: #7d97ad;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: #7d97ad;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}


.login-username {
  max-width: 32.5%;
}

.main-title {
    display: block;
    color: #7d97ad;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.new-post-link {
  color: #7d97ad;
  text-decoration: none;
}

.postToEdit {
  font-style: italic;
}

.page-divider {
  border-style: solid;
  height: 1px;
  background-color: #666;
  color: #666;
}

.profile-link{
  color: #7d97ad;
  text-decoration: none;
}

.error {
    color: red;
}

.signupsheet {
  padding-top: 1%;
  margin-left: 22%;
}

.signup-password{
  margin-left: 3%;

}

.signup-title {
  margin-left: 37.5%;
}

.signup-username {
  max-width: 40%;
  margin-left: 3%;
}

.signup-email {
  max-width: 40%;
  margin-left: 3%;
}

.signup-submit {
  margin-left: 22.5%;
  margin-top: 3%;
  margin-bottom: 2%;
}

.loginsheet {
  color: #7d97ad;
  margin-left: 30%;
}

.login-submit {
  margin-left: 22.5%;
  margin-top: 3%;
  margin-bottom: 2%;
}



input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 18px;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    color: #7d97ad;
}

.post-content {
    margin-bottom: 100px;
    color: #7d97ad;
}

.post-date {
    position: absolute;
    right: 10px;
    bottom: 0px;
    color: #7d97ad;
}

.post-options {
  margin-top: 5%;
  font-size: 18px;
}




.comment-user-options {
  color: #7d97ad;
  text-decoration: none;
}

.confirmdeletebutton {
  margin-top: 5%;
  margin-left: 25%;
}

.post-link {
  position: absolute;
  right: 550px;
  bottom: 0px;
  text-decoration: none;
  font-size: 14px;
  color: #7d97ad;
  text-decoration: none;
}

.comment-confirmed-delete {

  color: #7d97ad;
  text-decoration: none;
}

.comment-confirmed-edit {
  color: #7d97ad;
  text-decoration: none;
}

.user-posts {
  color: #7d97ad;
  text-decoration: underline;
  font-size: 26px;
}

.continue-link {
  color: #7d97ad;
  text-decoration: underline;
  font-size: 26px;
  margin-left: 25px;
}
