<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>/social/</title>
</head>

<body>
  <a href="/blog" class="main-title">
    /social/
  </a>

  <div class="login-area">
    {% if user %}
      <a class="home-link" href="/blog">Home</a>
      |
      <a class="post-link" href="/blog/newpost">New Post</a>
      |
      <a class="profile-link" href="/unit3/welcome">My Profile</a>

      {{user.name}} (<a class="login-link" href="/logout">logout</a>)

    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>

    {% endif %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>
