{% extends "base.html" %}
{% block content %}

<form method="post" class="comment-area">
  <input type="hidden" value="{{author}}">
<div class="comment-post-box">
  <div>
    <p>
      <div class="comment-post-subject"><h2>{{subject}}</h2></div>
  </div>

    <p>
    <div class="comment-post-content">{{content}}</div>
    <p>
    <div class="comment-post-author">Posted by: {{postuser}}</div>
    <div class="comment-count">

      <span>{{post.comments.count()}} comments</span>

    </div>
    <p>
</div>

  <div class="post-comments">
    {% for c in post.comments %}
      <div class="comment-display">
        <p class="comment-content">"{{ c.comment }}"</p>
        <div class="comment-author">-{{ c.parent().name }} |
          <a href="/post/{{post.key().id()}}/comment/{{c.key().id()}}" class="comment-goto-comment"> Go To Comment </a>
        </div>

        <div class="confirmed-comment-options"></div>
      </div>
    {% endfor %}
  </div>

  <label>
    <div class="comment-box">
      <textarea class="comment-box-box" wrap="hard" rows="1" name="comment">{{comment}}</textarea>
    </div>
  </label>
  <p>
  <input type="submit" class="comment-submit">

</form>

{% endblock %}
