{% extends "base.html" %}
{% block content %}


<div class="editpost-original-edit">Edit Comment</div>
<div class="editpost-original-post">
  <p>
  <div class="editpost-original-content">"{{comments.comment}}"</div>
  <p>
  <div class="editpost-original-subject">{{comments.author}}</div>
</div>

<form method ='post' class="editpost-form">
  <div class="editpost-content">
    <textarea name="comment" class="editpost-box" rows="1" wrap="soft">{{comment}}</textarea>
  </div>
  <p>
  <input type="submit" class="editpost-submit">
</form>
{% endblock %}
