{% extends "base.html" %}
{% block content %}

  <h2>New Post:</h2>
    <form method="post" class="newpost-form">

      <label>
        <div class="newpost-newpost-title">Title:<br>
        <input type="text" class="newpost-subject" name="subject" value="{{subject}}"></div>
      </label>

      <label>
        <div class="newpost-newpost-head">Post:</div>
        <textarea name="content" class="newpost-content" rows="1" wrap="hard">{{content}}</textarea>
      </label>

      <input type="hidden" name="author" value="{{user.name}}">
      <input type="hidden" name="likes" value="{{likes}}">
      <input type="hidden" name="likers" value="{{likers}}">
      <div class="error">{{error}}</div>
      <input type="submit" class="newpost-submit">

    </form>

{% endblock %}
