{% extends "base.html" %}

{% block content %}
  <h2>New Post</h2>

    <form method="post">
      <label>
        <div>Title of Post:</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <input type="hidden" name="author" value="{{user.name}}">
      <input type="hidden" name="likes" value="{{likes}}">
      <input type="hidden" name="likers" value="{{likers}}">
      <div class="error">{{error}}</div>

      <input type="submit">

    </form>




{% endblock %}
