<div class="post">
  <div class="post-heading">
    <div class="post-title">

      {{p.subject}}
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}

      {{p.name}}

    </div>





  <div class="post-content">
    {{p._render_text | safe}}
  <form>
    <input type="submit" method="post" class="LikeButton" value="like">
    <input type="submit" method="post" class="DislikeButton" value="dislike">
    <input type="submit" method="post" class="DeleteButton" value="delete">
  </form>
  </div>
</div>
