
{% block content %}
<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}}
    </div>
    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}} | {{p.author}}
    </div>
  <div class="post-content">
    {{p._render_text}}
    <p>

        <a href="/post/{{p.key().id()}}/likes" class="LikeButton">🖒{{p.likes}}</a>
        <a href="/post/{{p.key().id()}}/deletepost" class="DeleteButton">🗵</a>
        <a href="/post/{{p.key().id()}}" class="post-link">Go</a>
  </div>
  <div class="postID">Post ID: {{p.key().id()}}</div> <!-- for testing -->
</div>

{% endblock %}
