{% extends "base.html" %}

{% block content %}
    <title>Sign Up</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  <body>
    <div class="signup-title"><h2>Signup for /social/</h2></div>
    <form method="post" class="signupsheet">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" class="signup-username" name="username" value="{{username}}"><p>
          </td>
          <td class="error">
            {{error_username}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Email (optional)
          </td>
          <td>
            <input type="text" class="signup-email" name="email" value="{{email}}"><p>
          </td>
          <td class="error">
            {{error_email}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" class="signup-password" name="password" value=""><p>
          </td>
          <td class="error">
            {{error_password}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Verify Password
          </td>
          <td>
            <input type="password" class="signup-password" name="verify" value=""><p>
          </td>
          <td class="error">
            {{error_verify}}
          </td>
        </tr>


      </table>

      <input type="submit" class="signup-submit">
    </form>
    <br>
  </body>
{% endblock %}
